{
  "extends": [ "axway/env-node", "axway/+mocha" ],
  rules: {
    'security/detect-child-process': 0,
    'security/detect-non-literal-regexp': 0
  },
  "parserOptions": {
    "ecmaVersion": 13
  }
}
